.footer-page{
    display: flex;
    flex-direction: column;    
    width: 100%;
    
    .footer{
        width: 100%;
        background-color: $VeryLightGray;
        height: 50px;
        border-radius: 6px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        color: hsl(236, 9%, 61%);
        font-size: 16px;
        font-weight:600;

        p:hover{
            cursor: pointer;
        }
    }
    .footer-text{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%; 
        color: hsl(236, 9%, 61%);
    }

}

.layout.dark{
    .content{
      .todos-container{
        .footer-page {
          .footer{
            background-color: hsl(235, 19%, 35%);
          }
        }
    }
}
}