.input-container {
  width: 100%;
  position: relative;
  margin-top: 2rem;

  input {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 30px;
    color: $DarkGrayishBlue;
    font-size: 14px;

    &:focus-visible {
      border: none;
      outline: none !important;
    }

    &::placeholder{
      color: hsl(234, 39%, 85%);
    }

    &:placeholder-shown{
      color: $BrightBlue;
    }
  }

  .input-icon {
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
  }
}
.layout.dark{
  .content{
    .todos-container{
      .input-container {
        input{
          background-color: hsl(235, 19%, 35%);
          &::placeholder{
            color: $DarkGrayishBlue;
          }
          color: hsl(234, 39%, 85%);
        }
        .input-icon{
          .radio-button{
            border-color: $DarkGrayishBlue;
          }
        }
      }
    }
  }
}