.todo-item {
  position: relative;
  background-color: $VeryLightGray;
  width: 100%;
  border: none;
  height: 50px;
  color: $DarkGrayishBlue;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid $LightGrayishBlue;
  }

  .todo-radio {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .todo-text {
    width: 85%;
    padding-left: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $DarkGrayishBlue;

    &:hover {
      cursor: pointer;
    }

    &.is-completed {
      text-decoration-line: line-through;
      color: hsl(234, 39%, 85%);
    }
  }

  .remove-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
