.todo-item {
  width: 100%;
  border: none;
  height: 50px;
  color: $DarkGrayishBlue;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid hsl(0deg 0% 58% / 13%);
  }

  .todo-radio {
    padding-left: 1.25rem;
  }

  .todo-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $DarkGrayishBlue;
    padding: 0 0.75rem;
    font-weight: 600;
    margin-top: 0.25rem;

    &.is-completed {
      text-decoration-line: line-through;
      color: hsl(234, 39%, 85%);
    }
  }

  .remove-icon {
    width: 40px;
    height: 12px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 35%;
    }
  }
}
