.content{
  display: flex;
  justify-content: center;
}

.todos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 600px) {
  .todos-container {
  width: 45%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  }
}
