.todos-list {
  margin-top: 2rem;
  height: 60%;
  background-color: $VeryLightGray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .todos-list__items {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 6px 6px 0 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .todos-list-footer {
    color: hsl(234, 39%, 85%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 2px solid hsl(0deg 0% 58% / 13%);

    .clear-button {
      &:hover {
        cursor: pointer;
        color: $DarkGrayishBlue;
      }
    }
  }
}
