.content {
  display: flex;
  justify-content: center;
}

.todos-container {
  width: 90vw;
  max-width: 750px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3vh;

  @media screen and (min-width: $mobile-breakpoint) {
    width: 50vw;
    min-width: 480px;
  }
}
