.todos-list {
  margin-top: 2rem;
  height: 70%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .todos-list__items {
    flex: 1;
    overflow-y: scroll;
    background-color: $VeryLightGray;
  }

  .todos-list__footer {
    color: hsl(234, 39%, 85%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid hsl(0deg 0% 58% / 13%);

    .clear-button {
      &:hover {
        cursor: pointer;
        color: $DarkGrayishBlue;
      }
    }
  }
}

.layout.dark {
  .content {
    .todos-container {
      .todos-list {
        .todos-list__footer.todo-item {
          background-color: $VeryDarkDesaturatedBlue;
          color: hsl(236, 9%, 61%);
        }
        .todos-list__items {
          background-color: $VeryDarkDesaturatedBlue;

          .todo-item {
            background-color: $VeryDarkDesaturatedBlue;
            .todo-text.is-completed {
              color: $DarkGrayishBlue;
            }
            .todo-text {
              color: $LightGrayishBlue;
            }
          }
        }
      }
    }
  }
}
