.content{
  display: flex;
  justify-content: center;
}

.todos-container {
  width: 90vw;
  max-width: 800px;
  height: 85vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $mobile-breakpoint) {
    width: 60vw;
    min-width: 480px;
  }
}
@media screen and (min-width: 600px) {
  .todos-container {
  width: 45%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  }
}
