.bg-color {
  background-color: $VeryLightGrayishBlue;
}

.top-background {
  background: $LightTopBackgroundMobile;
  background-size: cover;

  @media screen and (min-width: $mobile-breakpoint) {
    background: $LightTopBackgroundDesktop;
    background-size: cover;
  }
}

.add-button-background {
  background-color: #ac74f3cf;
}

.filters-background {
  @media screen and (max-width: $mobile-breakpoint) {
    background-color: $VeryLightGray;
  }
}
