.bg-color {
  background-color: $VeryLightGrayishBlue;
}

.top-background {
  background: url("./../../assets/images/bg-mobile-light.jpg");
  background-size: cover;
}

@media screen and (min-width: $mobile-breakpoint) {
  .top-background {
    background: url("./../../assets/images/bg-desktop-light.jpg");
    background-size: cover;
  }
}

.add-button-background {
  background-color: #ac74f3cf;
}
