$height: 100vh;
$top-height: 35vh;
$bottom-height: calc($height - $top-height);
$top-height-mobile: 30vh;
$bottom-height-mobile: calc($height - $top-height-mobile);

.layout {
  height: 100vh;
  width: 100vw;
  position: relative;

  .top {
    height: $top-height-mobile;
    width: 100%;
  }

  .bottom {
    height: $bottom-height-mobile;
    width: 100%;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .top {
      height: $top-height;
    }

    .bottom {
      height: $bottom-height;
    }
  }

  .content {
    width: 85%;
    height: 87%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
